<div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col_1_of_3 span_1_of_3">
					<h3>Chúng tôi là ai?</h3>
					<img src="images/about-img.jpg" alt="" />
					<p>Chúng tôi là sinh viên khoa CNTT, trường Đại Học Khoa Học Tự Nhiên, ĐHQG TP HCM</p>
					<p>Địa chỉ: 227 Nguyễn Văn Cừ, Quận 5, Thành phố Hồ Chí Minh</p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h3>Lịch sử của chúng tôi</h3>
				 <div class="history-desc">
					<div class="year"><p>1999 -</p></div>
					<p class="history">Tôi được sinh ra</p>
				 <div class="clear"></div>
				</div>
				 <div class="history-desc">
					<div class="year"><p>2017 -</p></div>
					<p class="history">Tôi vào học tại trường Khoa Học Tự Nhiên</p>
				 <div class="clear"></div>
				</div>
				 <div class="history-desc">
					<div class="year"><p>2019 -</p></div>
					<p class="history">Tôi gặp các thành viên trong nhóm của tôi</p>
				 <div class="clear"></div>
				</div>
			</div>
				<div class="col_1_of_3 span_1_of_3">
					<h3>Cơ hội</h3>
					<p>Chúng tôi với mục tiêu trở thành đơn vị cung cấp sản phẩm công nghệ online hàng đầu thế giới không ngừng cải thiện và nâng cao chất lượng cửa hàng</p>
				    <div class="list">
					     <ul>
					     	<li><a href="#">Môi trường làm việc tốt</a></li>
					     	<li><a href="#">Đồng nghiệp thân thiện, vui tính</a></li>
					     	<li><a href="#">Doanh thu khủng hằng năm</a></li>
					     	<li><a href="#">Chất lượng sản phẩm được đánh giá cao</a></li>
					     	<li><a href="#">Uy tín hàng đầu Việt Nam</a></li>
					     	<li><a href="#">Liên tục cập nhật những sản phẩm mới nhất</a></li>
					     	<li><a href="#">Thân thiện với người mua</a></li>
					     	<li><a href="#">Hỗ trợ kỹ thuật sản phẩm 24/7</a></li>
					     	<li><a href="#">Giá cả hợp lý</a></li>
					     </ul>
					 </div>
					 <p>Nếu bạn muốn tham gia với chúng tôi thì hãy gửi cv về email: phamdangdangkhoa2802@gmail.com</p>
				</div>
			</div>
			<h2>Nhóm chúng tôi</h2>
			<div class="section group">
				<div class="grid_1_of_5 images_1_of_5">					
					 <img src="images/team1.jpg" alt="" height="200px"/>
					  <h3>Phạm Đặng Đăng Khoa</h3>
					 <p>Giám đốc</p>
				</div>
				<div class="grid_1_of_5 images_1_of_5">
					  <img src="images/team2.jpg" alt="" height="200px" />
					  <h3>Bùi Chí Dũng</h3>
					 <p>Chuyên viên tư vấn kỹ thuật</p>
				</div>
				<div class="grid_1_of_5 images_1_of_5">
					  <img src="images/team3.jpg" alt="" height="200px"/>
					 <h3>Nguyễn Quốc Khánh</h3>
					 <p>Trưởng phòng nhân sự</p>
				</div>
				<div class="grid_1_of_5 images_1_of_5">
					  <img src="images/team4.jpg" alt="" height="200px" />
					 <h3>Trần Nhựt Kha</h3>
					 <p>Trưởng phòng kinh doanh</p>
				</div>
				<div class="grid_1_of_5 images_1_of_5">
					  <img src="images/team5.jpg" alt="" height="200px"/>
					  <h3>Nguyễn Long Hải</h3>
					 <p>Trưởng bộ phận chăm sóc khách hàng</p>
				</div>
			</div>
    	<div>
    </div>
 </div>
</div>
</div>