<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Quản lý giỏ hàng</h3>
    	</div>
        <div class="content_top col-md-12">
            <div class="form-group"> 
            <div class="text-center">Hiện tại không có gì trong giỏ hàng</div>
            <div class="text-center"><a href="#"><button class="btn btn-primary btn-sm" type="button">Tiếp tục mua sắm</button></a></div>
            </div>
        </div>
    </div>
</div>