<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Xác thực</h3>
    	</div>
        <div class="content_top col-md-10">
            <div class="form-group">
                <label class="control-label" for="code">Nhập vào mã code mà bạn nhận được, code có 6 ký tự</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="code"></div>  
                </div>
                <br>
                <a href="#"><button class="btn btn-primary btn-sm" type="button">Xác thực</button></a>
            </div>
        </div>
    </div>
</div>