<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Xác thực thay đổi</h3>
            <div>Vui lòng nhập mẩu khẩu để hoàn thành việc thay đổi</div>
    	</div>
        <div class="content_top col-md-12">
            <form action="/users/confirmpassword" method="POST">
            <div class="form-group">
                <label for="oldpw">Mật khẩu</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="password" id="oldpw" value=""></div>  
                </div>
                <br>
                <div><button class="btn btn-primary btn-sm" type="submit">Xác nhận</button></div>
            </div>
            </form>
        </div>
    </div>
</div>