<div class="main">
    <div class="content">
    	<div class="support">
  			<div class="support_desc">
  				<h3>Hỗ trợ trực tiếp</h3>
  				<p><span>24 giờ/ngày | 7 days/tuần | 365 ngày/năm &nbsp;&nbsp; Hỗ trợ kỹ thuật trực tiếp</span></p>
  				<p>Thông tin cho chúng tôi nếu bạn có nhu cầu cần được hỗ trợ trực tiếp</p>
  			</div>
  				<img src="images/contact.png" alt="" />
  			<div class="clear"></div>
  		</div>
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h2>Liên hệ chúng tôi</h2>
					    <form>
					    	<div>
						    	<span><label>HỌ VÀ TÊN</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						     	<span><label>SỐ ĐIỆN THOẠI</label></span>
						    	<span><input type="text" value=""></span>
						    </div>
						    <div>
						    	<span><label>VẤN ĐỀ CẦN HỖ TRỢ</label></span>
						    	<span><textarea> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="SUBMIT"></span>
						  </div>
					    </form>
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h2>Tìm chúng tôi ở đây</h2>
					    	  <div class="map">
							   	    <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/227+%C4%90%C6%B0%E1%BB%9Dng+Nguy%E1%BB%85n+V%C4%83n+C%E1%BB%AB,+Ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+5,+H%E1%BB%93+Ch%C3%AD+Minh/@10.7624176,106.6790081,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f1bfc262bf1:0x4e843897f2900135!8m2!3d10.7624176!4d106.6811968?hl=en"></iframe><br><small><a href="https://www.google.com/maps/place/227+%C4%90%C6%B0%E1%BB%9Dng+Nguy%E1%BB%85n+V%C4%83n+C%E1%BB%AB,+Ph%C6%B0%E1%BB%9Dng+4,+Qu%E1%BA%ADn+5,+H%E1%BB%93+Ch%C3%AD+Minh,+Vietnam/@10.7624176,106.6790081,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f1bfc262bf1:0x4e843897f2900135!8m2!3d10.7624176!4d106.6811968?hl=en" style="color:#666;text-align:left;font-size:12px">Xem tại Bản đồ lớn</a></small>
							  </div>
      				</div>
      			<div class="company_address">
				     	<h2>Thông tin Cửa Hàng :</h2>
						    	<p>227 Nguyễn Văn Cừ</p>
						   		<p>Quận 5</p>
						   		<p>Hồ Chí Minh</p>
				   		<p>Điện thoại:(+84) 0354 629 479</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span><a href="mailto:phamdangdangkhoa2802@gmail.com">phamdangdangkhoa2802@gmail.com</a></span></p>
				   		<p>Theo dõi trên: <span><a href="#">Facebook</a></span>, <span><a href="#">Twitter</a></span></p>
				   </div>
				 </div>
			  </div>    	
    </div>
 </div>
</div>