<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Thông tin khách hàng</h3>
    	</div>
        <div class="content_top col-md-12">
            <div class="form-group">
                <label class="control-label" for="name">Họ và tên</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="name"></div>  
                </div>
                <label class="control-label" for="sdt">Số điện thoại</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="sdt"></div>  
                </div>
                <label class="control-label" for="adress">Địa chỉ nhận</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="adress"></div>  
                </div>
                <br>
                <a href="#"><button class="btn btn-primary btn-sm" type="button">Xác nhận</button></a>
            </div>
        </div>
    </div>
</div>