<div class="main">
    <div class="content">
    	<h2>Các câu hỏi thường gặp</h2>
    	<div class="questions">
				<h4>1.Chủ cửa hàng là ai?</h4>
	        	<p>Phạm Đặng Đăng Khoa</p>
	        </div>  	
    </div>
 </div>
</div>