<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Quên mật khẩu</h3>
    	</div>
        <div class="content_top col-md-10">
            <div class="form-group">
                <label class="control-label" for="nameuser">Nhập vào tên tài khoản mà bạn đã đăng kí, hệ thống sẽ gửi mã xác nhận về email của bạn, sau khi nhập xong bạn vui lòng check mail!</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="nameuser"></div>  
                </div>
                <br>
                <a href="confirmcode.html"><button class="btn btn-primary btn-sm" type="button">OK</button></a>
            </div>
        </div>
    </div>
</div>