<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Lịch sử mua hàng</h3>
    	</div>
        <div class="content_top col-md-12">
            <div class="form-inline">
                <div class="grid images_3_of_2">
				    <img src="images/preview-img.jpg" alt="" />
				</div>
                <div class="form-group">
                    <label><a href="#">Tivi Samsung 43 inch UA43R600</a></label>
                    <div><label>Giá: 8.900.000 đ</label></div>
                    <div><label for="name">Họ và tên</label></div>
                    <div class="row">
                        <div class="col-md-3"><input class="form-control" type="text" id="name"></div>  
                    </div>
                    <label for="sdt">Số điện thoại</label>
                    <div class="row">
                        <div class="col-md-3"><input class="form-control" type="text" id="sdt"></div>  
                    </div>
                    <label for="adress">Địa chỉ nhận</label>
                    <div class="row">
                        <div class="col-md-3"><input class="form-control" type="text" id="adress"></div>  
                    </div>

                    <label for="status">Trạng thái</label>
                    <div class="row">
                        <div class="col-md-3"><input class="form-control" type="text" value="Đã giao" id="status"></div>  
                    </div>
                    <br>
                    <a href="#"><button class="btn btn-primary btn-sm" type="button">Xóa</button></a>
            </div>
            </div>

        </div>
    </div>
</div>