<div class="container-fluid" id="content">
    <div class="row">
        <!-- List of products -->
        <div class="col-12 col-md-8 col-xl-9">
            <form id="uploadProductForm" method="POST" action="/admin/addproduct">
                <div>
                    <h3>Nhập sản phẩm mới</h3>
                </div>
                {{#if notice}}
                <div style="color: red;">{{notice}}</div>
                {{/if}}
                <div class="form-group row">
                    <label for="masp" class="col-sm-2 col-form-label">ID loại sản phẩm</label>
                    <div class="col-sm-7">
                        <select id="cate" name="Category">
                            <option value="0">Chọn loại sản phẩm</option>
                            {{#if Categories}}
                            {{#each Categories}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="masp" class="col-sm-2 col-form-label">Tên Sản Phẩm</label>
                    <div class="col-sm-7">
                        <input type="text" id="name" name="name" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-2 col-form-label" required>Giá</label>
                    <div class="col-sm-7">
                        <input type="text" id="price" name="price" class="form-control form-control-sm" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="discount" class="col-sm-2 col-form-label">Giảm giá</label>
                    <div class="col-sm-7">
                        <input type="text" id="discount" name="discount" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="count" class="col-sm-2 col-form-label">Số lượng</label>
                    <div class="col-sm-7">
                        <input type="text" id="count" name="count" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Mô tả</label>
                    <div class="col-sm-7">
                        <input type="text" id="description" name="description" class="form-control form-control-sm"
                            required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="process" class="col-sm-2 col-form-label">Tải ảnh lên</label>
                    <div class="col-sm-7">
                        <progress class="col-sm-12" value="0" id="process" max="100">0%</progress>
                        <input id="photo" class="file" type="file" name="mainimage" value="" onchange="getfile()">
                        <input id="url" name="url" hidden></input>

                        <img src="https://www.onlygfx.com/wp-content/uploads/2016/04/old-photo-camera.png" alt=""
                            id="image" width="150px" height="auto">
                    </div>
                </div>
                <div class="search" style="margin-bottom: 5%;">
                    <div><button id="submit_link" type="submit" class="grey" disabled>Thêm sản phẩm</button></div>
                </div>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
    var typeselected = "{{idcategory}}";
    document.getElementById("cate").selectedIndex = typeselected;
</script>
<script src="/javascripts/import-new-products.js"></script>