<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Thông tin tài khoản</h3>
    	</div>
        <div class="content_top col-md-12">
            <div class="form-group">
                <label for="username">Tên tài khoản</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="username" value="windy"></div>  
                </div>

                <label for="username">Password</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="password" id="username" value="123456"></div>  
                </div>

                <label for="name">Họ và tên</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="name" value="Phạm Đặng Đăng Khoa"></div>  
                </div>

                <label for="birthday">Ngày tháng năm sinh</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="date" id="birthday" value="28/02/1999"></div>  
                </div>
                
                <label for="sdt">Số điện thoại</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="sdt" value="0354629479"></div>  
                </div>
                <label for="adress">Địa chỉ</label>
                <div class="row">
                    <div class="col-md-6"><input class="form-control" type="text" id="adress" value="227 Nguyễn Văn Cừ Quận 5"></div>  
                </div>
                <br>
                <a href="#"><button class="btn btn-primary btn-sm" type="button">Thay đổi</button></a>
            </div>
        </div>
    </div>
</div>