<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>SẢN PHẨM</h3>
            <br>
    	</div>
        <div class="sort">
    		<p>Sắp xếp theo:
    			<select>
    				<option>A-Z</option>
    				<option>Z-A</option>			   				
    			</select>
    		</p>
    		</div>
    		<div class="show">
    		<p>Số lượng hiển thị:
    			<select>
    				<option>5</option>
    				<option>10</option>
    				<option>15</option>
    				<option>20</option>
    				<option>25</option>
    				<option>Tất cả</option>  				   				
    			</select>
    		</p>
    		</div>
    		<div class="page-no">
    			<p>Trang:<ul>
    				<li><a href="#">1</a></li>
    				<li class="active"><a href="#">2</a></li>
    				<li><a href="#">3</a></li>
    				<li>[<a href="#"> Tiếp theo>>></a >]</li>
    				</ul></p>
    		</div>
    		<div class="clear"></div>
      <div class=" content_top table-responsive col-md-12">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Giá bán</th>
              <th>Số lượng còn</th>
              <th>Lựa chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DT01</td>
              <td>IPhone3</td>
              <td>3 000 000đ</td>
              <td>300</td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>DT02</td>
              <td>IPhone4</td>
              <td>5 999 999đ</td>
              <td>256</td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>DT03</td>
              <td>IPhone5</td>
              <td>7 750 000đ</td>
              <td>258</td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>DT04</td>
              <td>IPhone6</td>
              <td>8 080 000đ</td>
              <td>35</td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>DT05</td>
              <td>IPhone10</td>
              <td>33 333 333đ</td>
              <td>20</td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            
          </tbody>
        </table>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="buttons col-md-2"><div><button class="grey">XÓA</button></div></div>
            <div class="buttons col-md-2"><div><button class="grey">THÊM</button></div></div>
            <div class="buttons col-md-2"><div><button class="grey">CHỈNH SỬA</button></div></div>
            <div class="col-md-3"></div>
          </div>
      </div>

    </div>
</div>