<div class="main">
  <div class="content container-fluid">
    <div class="heading">
      <h3>Thống kê doanh thu</h3>
      <br>
    </div>
    <div class="col-md-12">
      <form action="/admin/chitietdoanhthu" method="POST">
        <div class="row">
          <div class="col-md-2"> 
            <p>Thống kê theo:
              <select id="condition" name="condition" onchange="this.form.submit();">
                <option value="0">Ngày</option>
                <option value="1">Tháng</option>
                <option value="2">Năm</option>
              </select>
            </p>
          </div>

          <div class="col-md-4">
            <label>Từ ngày: </label>
            <div id="datepicker-start" class="input-group date" data-date-format="dd-mm-yyyy"> <input name="start"
                class="form-control" readonly type="text"> <span class="input-group-addon"><i
                  class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
          <div class="col-md-4">
            <label>Đến ngày: </label>
            <div id="datepicker-end" class="input-group date" data-date-format="dd-mm-yyyy"> <input name="end"
                class="form-control" readonly type="text"> <span class="input-group-addon"><i
                  class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="content_top table-responsive col-md-12">

      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th><b>Thời gian</b></th>
            <th><b>Tổng hóa đơn</b></th>
            <th><b>Doanh thu</b></th>
          </tr>
        </thead>
        <tbody>
          {{#if data}}
          {{#each data}}
          <tr>
            <td>{{this.time}}</td>
            <td>{{this.count}}</td>
            <td>{{this.doanhthu}} đ</td>
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  var sel = "{{sel}}";
  document.getElementById("condition").selectedIndex = sel;
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script>
  $(function () {
    $("#datepicker-start").datepicker({
      autoclose: true,
      todayHighlight: true
    }).datepicker('update', new Date());
    $("#datepicker-end").datepicker({
      autoclose: true,
      todayHighlight: true
    }).datepicker('update', new Date());
  });
</script>
<link rel="stylesheet prefetch"
  href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>