<div class="main">
    <div class="content container-fluid">
        <div class="heading">
            <h3>Thống kê</h3>
        </div>
        <div class="content_top col-md-12">
            <div class="row ">
                <div class="col-md-6">
                    <a href="/admin/top10"><button class="btn btn-info" type="button" style="font-size: 50px;">TOP
                            10</button></a>
                </div>
                <div class="col-md-6">
                    <a href="/admin/doanhso"><button class="btn btn-primary" type="button"
                            style="font-size: 50px;">Doanh số</button></a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>