<div class="main">
    <div class="content container-fluid">
        <div class="heading">
    		<h3>Quản lý Gian Hàng</h3>
            <br>
    	</div>
        <div class="sort">
    		<p>Sắp xếp theo:
    			<select>
    				<option>A-Z</option>
    				<option>Z-A</option>			   				
    			</select>
    		</p>
    		</div>
    		<div class="show">
    		<p>Số lượng hiển thị:
    			<select>
    				<option>5</option>
    				<option>10</option>
    				<option>15</option>
    				<option>20</option>
    				<option>25</option>
    				<option>Tất cả</option>  				   				
    			</select>
    		</p>
    		</div>
    		<div class="page-no">
    			<p>Trang:<ul>
    				<li><a href="#">1</a></li>
    				<li class="active"><a href="#">2</a></li>
    				<li><a href="#">3</a></li>
    				<li>[<a href="#"> Tiếp theo>>></a >]</li>
    				</ul></p>
    		</div>
    		<div class="clear"></div>
      <div class=" content_top table-responsive col-md-12">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Số lượng sản phẩm</th>
              <th>Chi tiết</th>
              <th>Các Sản Phẩm</th>
              <th>Lựa chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Điện thoại</td>
              <td>30000</td>
              <td><div class="buttons col-md-12 btn-sm"><button class="grey">Xem</button></div></td>
              <td><a href="products.html"><div class="buttons col-md-12 btn-sm"><button class="grey">Xem</button></div></a></td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>Laptop</td>
              <td>25698</td>
              <td><div class="buttons col-md-12  btn-sm"><button class="grey">Xem</button></div></td>
              <td><a href="products.html"><div class="buttons col-md-12 btn-sm"><button class="grey">Xem</button></div></a></td>              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>Máy Lạnh</td>
              <td>25874</td>
              <td><div class="buttons col-md-12  btn-sm"><button class="grey">Xem</button></div></td>
              <td><a href="products.html"><div class="buttons col-md-12 btn-sm"><button class="grey">Xem</button></div></a></td>              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>Đồng Hồ</td>
              <td>356</td>
              <td><div class="buttons col-md-12  btn-sm"><button class="grey">Xem</button></div></td>
              <td><a href="products.html"><div class="buttons col-md-12 btn-sm"><button class="grey">Xem</button></div></a></td>              <td><input type="checkbox" name="" id=""></td>
            </tr>
            <tr>
              <td>Bàn ủi</td>
              <td>100</td>
              <td><div class="buttons col-md-12  btn-sm"><button class="grey">Xem</button></div></td>
              <td><a href="products.html"><div class="buttons col-md-12 btn-sm"><button class="grey">Xem</button></div></a></td>              <td><input type="checkbox" name="" id=""></td>
              <td><input type="checkbox" name="" id=""></td>
            </tr>
            
          </tbody>
        </table>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="buttons col-md-2"><div><button class="grey">XÓA</button></div></div>
            <div class="buttons col-md-2"><div><button class="grey">THÊM</button></div></div>
            <div class="buttons col-md-2"><div><button class="grey">CHỈNH SỬA</button></div></div>
            <div class="col-md-3"></div>
          </div>
      </div>

    </div>
</div>