<div class="main">
  <div class="content container-fluid">
    <div class="heading">
      <h3>Top 10 Sản Phẩm Bán Chạy</h3>
      <br>
    </div>
    <div class=" content_top table-responsive col-md-12">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Top</th>
            <th>Tên Sản Phẩm</th>
            <th>Số Lượng Bán Ra</th>
          </tr>
        </thead>
        <tbody>
          {{#if data}}
          {{#each data}}
          <tr>
            <td>{{this.top}}</td>
            <td>{{this.name}}</td>
            <td>{{this.count_sell}}</td>
          </tr>
          {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>

  </div>
</div>
<script>var index = 1;</script>